# Entorno Virtual
venv/
.venv/
env/
desercion.db

# Python basura
__pycache__/
*.py[cod]
*$py.class

# Datos y Pesados (No se suben a Git porque son grandes)
data/*.csv
data/*.h5

# Variables de entorno (Configuraciones secretas)
.env

# Sistema operativo
.DS_Store
Thumbs.db